# fly.toml app configuration file generated for wine-app on 2026-02-21T14:05:49+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wine-app'
primary_region = 'arn'

[build]

[deploy]
  release_command = 'pnpm --filter @wine-app/db run migrate'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '30s'
    timeout = '15s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
